/* TODO */

.sig_form_hidden, #sig_fs_node_type {
   display: none;
}

table.sig_calendar {
   width: 100%;
   border-collapse: collapse;
   float: left;
}

td.profile {
   width: 25px;
}

tr.sig_calendar_header {
}

.sig_calendar td {
   vertical-align: top;
   white-space: nowrap;
}

td.sig_calendar_previous {
   text-align: left;
}

td.sig_calendar_current {
   text-align: center;
}

td.sig_calendar_next {
   text-align: right;
}

td.sig_calendar_weekday {
   text-align: center;
}

tr.sig_calendar_week {
   height: 38px;
}

td.sig_calendar_empty_day {
   background-color: #e0e0e0;
}

td.sig_calendar_event_day {
   border: 2px solid black;
}

td.sig_calendar_weekday {
   width: 64px;
}

td.sig_calendar_day {
   border: 1px solid black;
}

td.sig_calendar_hour {
   border: 1px solid black;
   border-left: 0px;
   border-right: 0px;
   width: 1%;
}

td.sig_calendar_event_header {
   text-align: center;
   font-weight: bold;
   border-bottom: 1px solid black;
   width: 25px;
}

td.sig_calendar_day_hour {
   border-left: 0px;
   border-right: 0px;
   width: 1%;
}

td.sig_calendar_event_hour {
   background-color: red;
   border-top: 0px;
   border-bottom: 0px;
   border-left: 1px solid black;
   border-right: 1px solid black;
}

div.sig_calendar_day {
   padding: 2px;
   clear: right;
}

div.sig_calendar_event {
   font-size: xx-small;
}

